#!/usr/bin/make -f

export V:=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_test:

override_dh_auto_configure:
	dh_auto_configure -- -Ddocdir=/usr/share/doc/i3-wm -Dmans=true

%:
	dh $@ --buildsystem=meson
